{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}File Upload{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'fileupload/css/themes/ui-lightness/jquery-ui.css' %}" type="text/css" >
	<link rel="stylesheet" href="{% static 'fileupload/css/bootstrap.min.css' %}" type="text/css" >
	<link rel="stylesheet" href="{% static 'fileupload/css/jquery.fileupload.css' %}" type="text/css" >
	{% block style %}{% endblock %}
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="{% static 'fileupload/js/jquery-ui.min.js' %}"></script>
	<script src="{% static 'fileupload/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'fileupload/js/vendor/jquery.ui.widget.js' %}"></script>
	<script src="{% static 'fileupload/js/jquery.fileupload.js' %}"></script>
	{% block script %}{% endblock %}
</head>
<body>
	{% block content %}{% endblock %}

</body>
</html>