{% extends "fileupload/base.html" %}
{% load staticfiles %}
{% block style %}
<link rel="stylesheet" href="{% static 'fileupload/css/webix.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'fileupload/css/custom.css' %}" type="text/css">
{% endblock %}
{% block script %}
<script src="{% static 'fileupload/js/webix.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<script type="text/javascript">
/*  webix.ui({
  rows:[
      { view:"template",
        type:"header", template:"My App!" },
      { view:"datatable",
        autoConfig:true,
        editable:true,
        data:{
          title:"My Fair Lady", year:1964, votes:533848, rating:8.9, rank:5
        }
      }
  ]
}); */
    $(document).ready(function() {
        var entries = loadDataAt(3);
        console.log(entries);
        var browser = webix.ui({
            view: 'treetable',
            columns: [
                { id: 'name', header: 'Name'},
                { id: 'size', header: 'Size'},
                { id: 'type', header: 'Type'},
                { id: 'items', header: 'Items'},
                { id: 'modified', header: 'Modified'},
                { id: 'modified_by', header: 'Modified By'}, // Django user
                // Not actually sure what this one is supposed to be.
                // { id: 'metadata', header: 'Metadata'}
            ],
            data: entries,
            resizeColumn: true,
            showOverlay: "Loading",
            select: "row",
            multiselect: true,
        });
        browser.attachEvent('onItemDblClick', function(id, e, node) {
            e.preventDefault();
            item = browser.getItem(id);
            browser.loadData(loadDataAt(item['tree_id']));
        });
    });

    function loadDataAt(parent_id) {
        var entries = [];
        $.getJSON('http://localhost:8000/api/filesystem/?parent=' + parent_id)
        .done(function(data) {
            $.each(data, function(i, item) {
                $.each(this, function(k, v) {
                    if (parent == item['parent']) {
                        var entry = {};
                        entry['tree_id'] = item['id'];
                        if (k == 'content_object') {
                            $.each(v, function(k, v) {
                                entry[k] = v;
                            });
                        }
                        if (entry['size']) {
                            // just to guarantee we're getting real objects
                            entries.push(entry);
                        }
                    }
                });
            });
        });
        console.log(entries);
    return entries;
    }
</script>
{% endblock %}
