{% extends "fileupload/base.html" %}
{% load staticfiles %}
{% block style %}
<link rel="stylesheet" href="{% static 'fileupload/css/webix.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'fileupload/css/custom.css' %}" type="text/css">
{% endblock %}
{% block script %}
<script src="{% static 'fileupload/js/webix.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<script type="text/javascript">
/*  webix.ui({
  rows:[
      { view:"template",
        type:"header", template:"My App!" },
      { view:"datatable",
        autoConfig:true,
        editable:true,
        data:{
          title:"My Fair Lady", year:1964, votes:533848, rating:8.9, rank:5
        }
      }
  ]
}); */
    $(document).ready(function() {
        var entries = [];
        var files = {};
        var fakeData = [
        {
            'name': files['name'], 'size': files['size'], 'type': files['type'], 'items': '', 'modified': files['modified'],
                'modified_by': 'yo momma', 'metadata': 'Yes please'},];
        $.getJSON('http://localhost:8000/api/filesystem/')
        .done(function(data) {
            $.each(data, function(i, item) {
                $.each(this, function(k, v) {
                    var entry = {};
                    if (k == 'content_object') {
                        $.each(v, function(k, v) {
                            entry[k] = v;
                            files[k] = v;
                            //console.log(entry[k]);
                        });
                    }
                    if (entry['size']) {
                        entries.push(entry);
                    }
                    //console.log(entry);
                });
            });
            console.log(fakeData);
            webix.ui({
            view: 'treetable',
            columns: [
                { id: 'name', header: 'Name'},
                { id: 'size', header: 'Size'},
                { id: 'type', header: 'Type'},
                { id: 'items', header: 'Items'},
                { id: 'modified', header: 'Modified'},
                { id: 'modified_by', header: 'Modified By'}, // Django user
                // Not actually sure what this one is supposed to be.
                // { id: 'metadata', header: 'Metadata'}
                ],
            data: entries,
            resizeColumn: true,
            });
        });
                    console.log('test');

    });
</script>
{% endblock %}
